html,body{
    margin:0;
    background-color:#eff7ff;
}



h1{
    width:100%;
    text-align: center;
   margin:0 auto;
    margin-top:100px;
}
h1{
display: flex;
align-items: center;
font-size:  30px; 
width:90%;
}
h1:before,
h1:after {
border-top: 1px solid;
content: "";
flex-grow: 10;
}
h1:before {
margin-right: 1rem;
}
h1:after {
margin-left: 1rem;
}



.work1{
    margin-top:100px;
    margin-left: 300px;
    text-align: left;
    line-height:20px;
}
.work2{
    margin-top:50px;
    margin-left: 400px;
    text-align: left;
    line-height:20px;
}
.work3{
    margin-top:50px;
    margin-left: 500px;
    text-align: left;
    line-height:20px;
}
.work4{
    margin-top:50px;
    margin-left: 600px;
    text-align: left;
    line-height:20px;
}
.work5{
    margin-top:50px;
    margin-left: 700px;
    text-align: left;
    line-height:20px;
}
.work6{
    margin-top:50px;
    margin-left: 600px;
    text-align: left;
    line-height:20px;
}
.work7{
    margin-top:50px;
    margin-left: 500px;
    text-align: left;
    line-height:20px;
}
.work8{
    margin-top:50px;
    margin-left: 350px;
    text-align: left;
    line-height:20px;
}
.cap{
    position: absolute;
    top: 700px;
    left:200px;
}

.cat{
    position: absolute;
        top: 300px;
    left:900px;

}

.fam{
    position: absolute;
    top: 1150px;
    left:1000px;
}


/*　画面サイズ 499pxまで適用　*/
 @media screen and (max-width: 499px) {
     
     .sp{display: block;}
     .pc{display: none;}
     
     html,body{
         margin:0 auto;
         max-width: 100%;
         width:100%;
         text-align: left;
     }
     
     h1{
         margin-top:30px;
         font-size:10px;
     }
     h2{
         font-size:13px;
     } 
     h5{margin-top:5px;
         font-size:10px;
     }
     
     .work1{
         margin:30px 0px 0px 5px;
         text-align: left;
     }
     
      .work2{
         margin:10px 0px 0px 40px;
         text-align: left;
     }
       .work3{
         margin:10px 0px 0px 80px;
         text-align: left;
     }
       .work4{
         margin:10px 0px 0px 120px;
         text-align: left;
     }
       .work5{
         margin:10px 0px 0px 80px;
         text-align: left;
     }
       .work6{
         margin:10px 0px 0px 40px;
         text-align: left;
     }
       .work7{
         margin:10px 0px 0px 30px;
         text-align: left;
     }
       .work8{
         margin:10px 0px 0px 5px;
         text-align: left;
     }

     .cap{
        width:100px;
         height:100px;
         position: absolute;
         top:150px;
         left:270px;
     }  
     
     .cat{
        width:100px;
         height:100px;
          position: absolute;
         top:450px;
         left:-10px;
     }
     
     
     .fam{
        width:100px;
         height:100px;
          position: absolute;
         top:850px;
         left:260px;
     }
     
     
     
}

/*1000pxからの画面*/
  @media screen and (min-width:1000px) {
    .sp{display: none;}
     .pc{display: block;} 
      
      
}
      
      