@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Tulpen+One');
/*font-family: 'Cinzel', serif;*/


html,body{
    margin:0 auto;
}


body{
    background-color: azure;
    height:3000px;    
}

header img{
    position:fixed;
    top:20px;
    right:20px;
}





/*英語＆日本語タイトル*/

.title1{
    font-family: 'Cinzel', serif;
    font-size:40px;
    text-align: center;
    margin-top: 350px;  
}

.title2{
    font-family: 'Cinzel', serif;
    font-size:40px;
    text-align: center;
    margin-top: 400px;
    padding:50px;
}


.title3{
   
    font-family: 'Cinzel', serif;
    font-size:40px;
    text-align: center;
    margin-top: 970px;
    padding:50px;
}


figure.snip1384 {
    float: left;
}
.imggn{
    margin-left: 200px;
}

.imggn img{
    width:350px;
    height:400px;
}

.java{
    margin-top:30px;
    margin-left: 200px;
}
.java img{
    width:1000px;
    height:300px;
}
#section4{
    max-width: 70%;
    margin: 0 auto;
    margin-top:400px;
    padding:50px;
    text-align: center;

}

/*フッター中央寄せ*/
footer,.copy{
    font-size:14px;
    text-align: center;
    width:auto;
}


/*サブタイトルの横線css*/
.sub1{
display: flex;
align-items: center;
font-size:  14px;
margin-top:  10px; 
width:50%;
margin:0 auto; 
}
.sub1:before,
.sub1:after {
border-top: 1px solid;
content: "";
flex-grow: 10;
}
.sub1:before {
margin-right: 0.5rem;
}
.sub1:after {
margin-left: 0.5rem;
}


/*サブタイトルの横線css*/
.sub2{
display: flex;
align-items: center;
font-size:  14px;
margin-top:  10px; 
width:50%;
margin:0 auto; 
}
.sub2:before,
.sub2:after {
border-top: 1px solid;
content: "";
flex-grow: 10;
}
.sub2:before {
margin-right: 0.5rem;
}
.sub2:after {
margin-left: 0.5rem;
}

/*制作実績を見るのスクロールボタンの指定*/
.scroll {
  position: absolute;
  top:650px;
　z-index:9;
  width: 100%;
  bottom: 0;
  text-align: center;
}
  .scroll a{
    font-size: 20px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
/*矢印クルクルのcss*/
.scroll a span {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index:9;
  width: 20px;
  height: 20px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}

/*矢印の動き方（y軸方向に回転）指定*/
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


/*Webシステム開発のスクロールボタンの指定*/

.scroll2 {
  position: absolute;
  top:1670px;
　z-index:9;
  width: 100%;
  bottom: 0;
  text-align: center;
}
  .scroll2 a{
    font-size: 20px;
      font-family: 'Cinzel', serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/*矢印クルクルのcss*/

.scroll2 a span {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index:9;
  width: 20px;
  height: 20px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}

/*矢印の動き方（y軸方向に回転）指定*/

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}



/*コンタクトのスクロールボタンの指定*/
.scroll3 {
  position: absolute;
  top:2830px;
　z-index:9;
  width: 100%;
  bottom: 0;
  text-align: center;

}
  .scroll3 a{
    font-size: 20px;
      font-family: 'Cinzel', serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
/*矢印クルクルのcss*/
.scroll3 a span {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index:9;
  width: 20px;
  height: 20px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}

/*矢印の動き方（y軸方向に回転）指定*/
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}



/*フィギュキャプション*/
@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1384 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1384 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1384 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
figure.snip1384:after,
figure.snip1384 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1384:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
figure.snip1384 figcaption {
  z-index: 1;
  padding: 40px;
}
figure.snip1384 h3,
figure.snip1384 .links {
  width: 100%;
  margin: 5px 0;
  padding: 0;
}
figure.snip1384 h3 {
  line-height: 1.1em;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  opacity: 0;
}
figure.snip1384 p {
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
figure.snip1384 i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 20px 25px;
  font-size: 34px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
figure.snip1384 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
figure.snip1384:hover img,
figure.snip1384.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
figure.snip1384:hover:after,
figure.snip1384.hover:after {
  opacity: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
figure.snip1384:hover h3,
figure.snip1384.hover h3,
figure.snip1384:hover p,
figure.snip1384.hover p,
figure.snip1384:hover i,
figure.snip1384.hover i {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}


/*javaの画像ボタン*/
figure.snip1384-java{
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 1000px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1384-java * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1384-java img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
figure.snip1384-java:after,
figure.snip1384-java figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1384-java:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
figure.snip1384-java figcaption {
  z-index: 1;
  padding: 40px;
}
figure.snip1384-java h3,
figure.snip1384-java .links {
  width: 100%;
  margin: 5px 0;
  padding: 0;
}
figure.snip1384-java h3 {
  line-height: 1.1em;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  opacity: 0;
}
figure.snip1384-java p {
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
figure.snip1384-java i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 20px 25px;
  font-size: 34px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
figure.snip1384-java a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
figure.snip1384-java:hover img,
figure.snip1384-java.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
figure.snip1384-java:hover:after,
figure.snip1384-java.hover:after {
  opacity: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
figure.snip1384-java:hover h3,
figure.snip1384-java.hover h3,
figure.snip1384-java:hover p,
figure.snip1384-java.hover p,
figure.snip1384-java:hover i,
figure.snip1384-java.hover i {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}




/*　画面サイズ 499pxまで適用　*/
 @media screen and (max-width: 499px) { 
    
html,body{
        max-width: 499px;
        margin:0 auto;
        text-align: center;
        width:100%;
    height:2750px;
     }
     
.scroll4{display: none; }
#section5{display: none;}
     	
.pc { display:none; }
.sp { display:block; }
     
.scroll3{display: none;} 
     
     .title1{
         width:100%;
         margin-top:260px;
}
/*   #section4,*/
.title4{
/*    margin-left:-50px;*/
    margin-bottom:100px;
    white-space: nowrap;

     }
.scroll{
         position: absolute;
         top:500px;
     }
.scroll2{
         position: absolute;
         top:1370px;  
     }
     
.nukko{
    text-align: center;
    max-width: 40%;  
         margin:0 auto;
     }
.nyan{
    margin:0 auto;
    margin-top:-30px;
    margin-bottom:20px;
         width:150px;
         height:150px;
    text-align: center;
    
     }
ul{
         clear: both;
         margin-top:30px;
}
li{text-align: left;
          line-height:25px;
     }
.git{z-index:1;
          width:60px;
         height:60px;
     }

figure.snip1384 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #000000;
}
.imggn{
    text-align: center;
    max-width: 80%;  
    margin:0 auto;
  }  
.imggn img{
    width:300px;
    height:190px;
}
    
     /*サブタイトルの横線css*/
     
.sub1{
display: flex;
align-items: center;
font-size:  14px;
margin-top:  10px; 
width:70%;
margin:0 auto; 
}
.sub2{
display: flex;
align-items: center;
font-size:  14px;
margin-top:  10px; 
width:100%;
margin:0 auto; 
}
.sub2:before,
.sub2:after {
border-top: 1px solid;
content: "";
flex-grow: 10;
}
.sub2:before {
margin-right: 0.5rem;
}
.sub2:after {
margin-left: 0.5rem;
}
     
figure.snip1384-java{
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #000000;
}
.java{
         margin-top:-100px;
         margin-left:35px;
     }   
.java img{
         width:300px;
         height:190px;
     }
     }
 




 /*　画面サイズ 500pxから999pxまで適用　*/
  @media screen and (min-width: 500px) and (max-width: 999px) {
   
   
  }

/*1000pxからの画面*/
  @media screen and (min-width:1000px) {
.pc { display:block; }
.sp { display:none; }
.imggn{
    text-align: center;
    max-width: 70%;  
    margin:0 auto;
  }   
.java{
    text-align: center;
    max-width: 70%;  
    margin:0 auto;
         margin-top:0px;
/*         margin-left:35px;*/
     } 
      
      #section2{
          margin-top:600px;
      }
      
      #section3{
          margin-top:600px;
      } 
    
      #section4{
          margin-top:900px;
      } 

/*
      
      .scroll2{
         position: absolute;
         top:1600px;  
  }
         .scroll3{
         position: absolute;
         top:2800px;  
  }
*/

      

}