/* chrome safari opera */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	
/*@-moz-document url-prefix(){	*/


@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Tulpen+One');
/*font-family: 'Cinzel', serif;*/


html,body{
    margin:0 auto;
    max-width: 100%;
    text-align: center;
}
.git{ z-index:999;
      width:80px;
      height:80px;
     }
    
.sp { display:none; } 
body{
    background-color: azure;
    height:2500px;    
}

    
.happanowakka{
    max-width:100%;
    width: 50%;
    }

  
    
    
header img{
    position:fixed;
    top:30px;
    right:30px;
}

#section1{
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 500px;
}
    
    
#section2{
      max-width: 100%;
         width:100%;
         text-align: center;
         margin:0 auto;

      }
/*英語＆日本語タイトル*/
.title1{
    z-index:3;  
    font-family: 'Cinzel', serif;
    font-size:40px;
    
  position: absolute;
  top: -120px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
}

#title2{
    font-family: 'Cinzel', serif;
    font-size:40px;
    text-align: center;
    margin-top: 400px;
    padding:50px;
}

.title3{
    clear: both;
    font-family: 'Cinzel', serif;
    font-size:40px;
    text-align: center;
    padding:50px;
}
.title4{
    font-family: 'Cinzel', serif;
    font-size:40px;
    text-align: center;
    padding:50px;   
}

.snip1384 {
    display: flex;
/*    float: left;  */
    white-space: nowrap;
}
    
.imggn{
    display: flex;
    max-width: 70%;
    width:100%;
    margin:0 auto;  
    text-align: center;
}
    
.imggn img{
    width:330px;
    height:380px;
}
    
.java{
    display: flex;
    text-align: center;
    max-width: 70%; 
    width:100%;
    margin:0 auto;
    
     }     
    
.java img{
    clear: both;
    width:1000px;
    height:300px;
}
    
    
 


    
.section4{
    max-width: 100%;
    margin: 0 auto;
    padding:50px;
    text-align: center;
}
.contact-form{
    width:640px;
    height:756px;
}

/*フッター中央寄せ*/
footer,.copy{
    font-size:14px;
    text-align: center;
    width:auto;
}


/*サブタイトルの横線css*/
.sub1{
display: flex;
align-items: center;
font-size:  14px;
margin-top:  10px; 
width:50%;
margin:0 auto; 
}
.sub1:before,
.sub1:after {
border-top: 1px solid;
content: "";
flex-grow: 10;
}
.sub1:before {
margin-right: 0.5rem;
}
.sub1:after {
margin-left: 0.5rem;
}


/*サブタイトルの横線css*/
.sub2{
display: flex;
align-items: center;
font-size:  14px;
margin-top:  10px; 
width:50%;
margin:0 auto; 
}
.sub2:before,
.sub2:after {
border-top: 1px solid;
content: "";
flex-grow: 10;
}
.sub2:before {
margin-right: 0.5rem;
}
.sub2:after {
margin-left: 0.5rem;
}

/*コンタクトサブタイトルの横線css*/
.sub3{
display: flex;
align-items: center;
font-size:  14px;
margin-top:  10px; 
width:55%;
margin:0 auto; 
}
.sub3:before,
.sub3:after {
border-top: 1px solid;
content: "";
flex-grow: 10;
}
.sub3:before {
margin-right: 0.5rem;
}
.sub3:after {
margin-left: 0.5rem;
}

/*制作実績を見るのスクロールボタンの指定*/
.jisseki {
　z-index:9;
  width: 100%;
  text-align: center;
}
.jisseki a{
    font-size: 20px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border: double 4px black;
    border-radius: 20px;
    padding: 30px;
}

/*Webシステム開発のスクロールボタンの指定*/

/*
.scroll2 {
    
  position: absolute;
  top:1720px;
　z-index:9;
  width: 100%;
  text-align: center;
}
  .scroll2 a{
    font-size: 20px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border: double 4px black;
    border-radius: 20px;
    padding: 30px;
}
*/

/*コンタクトのスクロールボタンの指定*/
/*
.scroll3 {
  position: absolute;
  top:2880px;
　z-index:9;
  width: 100%;
  text-align: center;

}
  .scroll3 a{
    font-size: 20px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border: double 4px black;
    border-radius: 20px;
    padding: 30px;

}
*/

/*hoverして詳細表示。フィギュキャプション*/
@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1384 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-width: 250px;
  max-width: 330px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1384 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1384 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
figure.snip1384:after,
figure.snip1384 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1384:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
figure.snip1384 figcaption {
  z-index: 1;
  padding: 40px;
}
figure.snip1384 h3,
figure.snip1384 .links {
  width: 100%;
  margin: 5px 0;
  padding: 0;
}
figure.snip1384 h3 {
  line-height: 1.1em;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  opacity: 0;
}
figure.snip1384 p {
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
figure.snip1384 i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 20px 25px;
  font-size: 34px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
figure.snip1384 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
figure.snip1384:hover img,
figure.snip1384.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
figure.snip1384:hover:after,
figure.snip1384.hover:after {
  opacity: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
figure.snip1384:hover h3,
figure.snip1384.hover h3,
figure.snip1384:hover p,
figure.snip1384.hover p,
figure.snip1384:hover i,
figure.snip1384.hover i {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}


/*javaの画像ボタン*/
figure.snip1384-java{
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 1000px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1384-java * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1384-java img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
figure.snip1384-java:after,
figure.snip1384-java figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1384-java:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
figure.snip1384-java figcaption {
  z-index: 1;
  padding: 40px;
}
figure.snip1384-java h3,
figure.snip1384-java .links {
  width: 100%;
  margin: 5px 0;
  padding: 0;
}
figure.snip1384-java h3 {
  line-height: 1.1em;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  opacity: 0;
}
figure.snip1384-java p {
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
figure.snip1384-java i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 20px 25px;
  font-size: 34px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
figure.snip1384-java a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
figure.snip1384-java:hover img,
figure.snip1384-java.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
figure.snip1384-java:hover:after,
figure.snip1384-java.hover:after {
  opacity: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
figure.snip1384-java:hover h3,
figure.snip1384-java.hover h3,
figure.snip1384-java:hover p,
figure.snip1384-java.hover p,
figure.snip1384-java:hover i,
figure.snip1384-java.hover i {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
    
.GoToTop{
    position: relative;
    bottom:0px;
    }    
    .GoToTop img{
        width:100px;
        height:auto;
    }    
    

 
    
    
    
    
    
    
    
    
    
    
    
    
/*　画面サイズ 1000pxまで適用　*/
 @media screen and (max-width: 1000px) { 
    
html,body{
        max-width: 499px;
        margin:0 auto;
        text-align: center;
        width:100%;
    height:2750px;
     }
.happanowakka{
    width: 80%;
    } 
     

#section1{
  margin-bottom: 200px;
}
        

.scroll4{display: none; }
.pc { display:none; }
.sp {display: block;}   

.imggn{
    display: block!important;
    width: 65%;
    margin: 0 auto;
    text-align: center;
     }
     
.imggn img{
    width:300px;
    height:300px;
    
}
.java{  
    display: block!important;
    padding:50px;
    margin: 0 auto;
    text-align: center;
     }
     
.snip1384-java .sp img{
     width:300px;
    height:170px;   
     }   
    
     
.title1{
         width:100%;
         margin-top:260px;
}
.title3{
    margin-bottom: -60px;
     }

.scroll{
         position: absolute;
         top:500px;
     }
.scroll2{
         position: absolute;
         top:1650px;  
     }
     
.scroll3{
     position: absolute;
     top:2400px;    
     }
     
     .#section2{
         width:100%;
         text-align: center;
         margin:0 auto;
          
      }
     
     #section3{
         width:100%;
         text-align: center;
         margin:0 auto;
     }
ul{
         clear: both;
         margin-top:30px;
}
li{text-align: left;
          line-height:25px;
     }
.git{ z-index:999;
      width:60px;
      height:60px;
     }

figure.snip1384 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #000000;
}
     

     
     

     /*サブタイトルの横線css*/
     
.sub1{
display: flex;
align-items: center;
font-size:  14px;
margin-top:  10px; 
width:70%;
margin:0 auto; 
}
.sub2{
display: flex;
align-items: center;
font-size:  14px;
margin-top:  10px; 
width:100%;
margin:0 auto; 
}
.sub2:before,
.sub2:after {
border-top: 1px solid;
content: "";
flex-grow: 10;
}
.sub2:before {
margin-right: 0.5rem;
}
.sub2:after {
margin-left: 0.5rem;
}
     
.sub3{
display: flex;
align-items: center;
font-size:  14px;
margin-top:  10px; 
width:100%;
margin:0 auto; 
}
.sub3:before,
.sub3:after {
border-top: 1px solid;
content: "";
flex-grow: 10;
}
.sub3:before {
margin-right: 0.5rem;
}
.sub3:after {
margin-left: 0.5rem;
}
         
     
     
figure.snip1384-java{
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
/*  margin: 10px;*/
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #000000;
}
   
.java img{
         width:300px;
         height:200px;
     }
.contact-form{
    width:300px;
    height:600px;
}
  
   
     }
 

}
    