@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');


.slideFrame {
  overflow: hidden;
  width: 100%;
  height: 100px;
}

.slideCell {
  display: block;
}

.slideGuide .slideCell {
  float: left;
  margin-right: 5px;
}
.slideGuide.up .slideCell, .slideGuide.down .slideCell {
  float: none;
  margin-right: 0;
  margin-bottom: 10px;
}

/*左端のスライダー*/
#stop{
left: 17px;
  width: 21.4%;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
}

/*右端のスライダー、逆回転*/
#back{
  position:absolute;
  left:1150px;
  width: 19.1%;
  height: 60px;
  font-size: 20px;
  line-height: 60px; 
}

.slideCtrl {
  position: absolute;
  top:300px;　/* ボタンの位置。ここは後で調整*/
  background-color: rgba(128, 128, 128, 0.7);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.slideCtrl.left, .slideCtrl.right {
  top: 0;
  width: 90px;
  height: 100%;
}

/*ここで後ろに隠そうとしてる*/
#stop{
    z-index: 999999; 
    display: block;
}


/*元々のホバーボタン*/
.slideCtrl.down {
  left: 0;
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
}

/*キューブ型ホバーボタン*/
.slideCtrl.down {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
}
.slideCtrl.down::before,
.slideCtrl.down::after {
  position: absolute;
  z-index: 999999;
  display: block;
  content: '';
}
.slideCtrl.down,
.slideCtrl.down::before,
.slideCtrl.down::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/*ここでキューブの動き指定*/
.slideCtrl.down {
/*  position: relative;*/
  -webkit-perspective: 300px;
  perspective: 300px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.slideCtrl.down span {
  display: block;
  position: absolute;
  width: 100%;
/*  height: 60px;*/
  border: 2px solid #333;
  text-align: center;
  line-height: 56px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  pointer-events: none;
　font-family: 'Open Sans Condensed', sans-serif;
}

/*キューブのホバー後*/
.slideCtrl.down span:nth-child(1) {
  background-color:rgba( 255, 255, 255, 0.5);
  color:black;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -30px;
  -moz-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
}

/*キューブのホバー前*/
.slideCtrl.down span:nth-child(2) {
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -30px;
  -moz-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
}
.slideCtrl.down:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.slideCtrl.down:hover span:nth-child(2) {
  background-color: #333;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}










/* slider-0
*/
#slider-0.slideFrame {
  float: left;
  width: 342px;
}
#slider-0.slideFrame .slideCell {
  width: 300px;
  padding: 20px;
}
#slider-0.slideFrame .slideCell:hover {
  background-color: rgba(128, 128, 128,0.3);
}

/* slider-1
 */
#slider-1.slideFrame {
  position: relative;
  float: left;
  width: 164px;
  margin-left: 10px;
}
#slider-1.slideFrame .slideCell {
  width: 122px;
  padding: 20px;
}
#slider-1.slideFrame .slideCell:hover {
  background-color: rgba(128, 128, 128,0.3);
}

/* slider-2
 */
#slider-2.slideFrame {
  position: relative;
  float: left;
  width: 102px;
  margin-left: 10px;
}
#slider-2.slideFrame .slideCell {
  width: 60px;
  padding: 20px;
}
#slider-2.slideFrame .slideCell:hover {
   background-color: rgba(128, 128, 128,0.3);
}

/* slider-3
 */
#slider-3.slideFrame {
  float: right;
  width: 305px;
  margin-left: 10px;
}

#slider-3.slideFrame .cell-other {
  width: 263px;
  margin-bottom: 10px;
}
#slider-3.slideFrame .cell-other:hover {
  background-color: rgba(128, 128, 128,0.3);
}

#slider-3.slideFrame .cell-other img {
  display: block;
}


